.fly-in-text {
    grid-area: side;
    list-style: none;
    position: absolute;
    display: flex;
    left: 9%;
    top: 26%;
    transform: translateX(-50%) translateY(-50%);
   
}

.fly-in-text li {
    display: inline-block;
    font-weight: bolder;
    font-size: 25px;
    display: inline;
    opacity: 1;
    transition: all 2.5s ease;
   
}
.fly-in-text li.space {
    margin-left: 10px;
}

.fly-in-text li:last-child {
   margin-right: 0;

}

.fly-in-text.hidden li {
    opacity: 0; 
}

.fly-in-text.hidden li:nth-child(1) { transform: translateX(-60px) translateY(-200px); }
.fly-in-text.hidden li:nth-child(2) { transform: translateX(25px) translateY(10px); }
.fly-in-text.hidden li:nth-child(3) { transform: translateX(-50px) translateY(-10px); }
.fly-in-text.hidden li:nth-child(4) { transform: translateX(10px) translateY(-200px); }
.fly-in-text.hidden li:nth-child(5) { transform: translateX(-300px) translateY(200px); }
.fly-in-text.hidden li:nth-child(6) { transform: translateX(30px) translateY(200px);}
.fly-in-text.hidden li:nth-child(7) { transform: translateX(-200px) translateY(-200px); }
.fly-in-text.hidden li:nth-child(8) { transform: translateX(-50px) translateY(200px); }
.fly-in-text.hidden li:nth-child(9) { transform: translateX(90px) translateY(150px); }
.fly-in-text.hidden li:nth-child(10) { transform: translateX(-20px) translateY(100px); }
.fly-in-text.hidden li:nth-child(11) { transform: translateX(110px) translateY(-50px); }
.fly-in-text.hidden li:nth-child(12) { transform: translateX(-70px) translateY(-200px); }