* {
    font-family:'Roboto',system-ui, sans-serif;
    margin: 0;
    padding: 0;
    
}
html {
    height: 100vh;
    overflow-x: hidden;
}


body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 200px 1fr;
    grid-template-areas: 
    "side header"
    "side main"
    "side footer";
}

.footer {
    margin-top: auto;
    background-color:  #181a1b;
    grid-area: footer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
}

.footer-text {
    color: #f6f7f9;
    font-size: clamp(15px, 3vw, 20px);
    display: flex;
    flex-direction: row;
    margin-right: 270px;
    gap: 40px;
}


.header {
    background-color:  #222324;
    grid-area: header;
    display: flex;
 
}
.header-text {
    color: #f6f7f9;
    font-style: italic;
    font-size: clamp(22px,6vw,30px);
    padding: 130px 35px;
}


.sidebar {
    position: fixed;
    background: #181a1b;
    grid-area: side;
    /* left: -240px; */
    width: 300px;
    min-height:100vh;
    transition: all .5s ease;
    overflow: hidden; 
}

.sidebar-image {
    margin-top: 85px;
    margin-left: 95px; 
    max-height: 110px;
    background-image: linear-gradient(rgba(162, 0, 255, 0.733)30%, rgba(165, 10, 255, 0.692)20%, #222324 80%);
    width: auto;
    border-radius: 50%;

}


.sidebar header {
    color: #f6f7f9;
    font-size: 28px;
    line-height: 70px;
    text-align: center;

}


.sidebar a {
    display: block;
    color: #f6f7f9;
    height: 65px;
    width: 100%;
    line-height: 65px;
    padding-top: 0px;
    padding-left:60px;
    padding-left:30px;
    border-bottom: 1px solid rgba(255,255,255,.1);
    border-top: 1px solid black;
    border-left: 5px solid red solid transparent;
    box-sizing: border-box;
    text-decoration-line: none;
}

 .sidebar a:hover, a.active {
    text-shadow: 0 0 10px #ffffff;
    filter: dropshadow(color=#000000, offx=2, offy=2);
    /* border-left: 5px solid #f6f7f9; */
}



.sidebar a i {
    font-size: 23px;
    margin-right: 16px;
}
.sidebar a span {
    letter-spacing: 1px;
    text-transform: uppercase;
}

.sidebar header  {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

.main {
    background-color:  #222324;
    padding: 30px;
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(2,400px);
    grid-template-rows: repeat(1,450px);
    grid-template-areas:
    "c1 c2"; 
    gap: 35px;

    
}


.card {
    margin-top: 45px;
    /* height: 400px; */
    color: white;
    background:  #181a1b;
    border-radius: 10px;
    box-shadow: 0 3px 5px #000;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.24);
    text-decoration: none;  
    
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);  
}

.card-image {
    background-color: aqua;
    height: 300px;
    margin-bottom: 15px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
    transition: filter 0.3s ease;
    
}


.card:nth-child(1) {
    grid-area: c1;
}

.card:nth-child(2) {
    grid-area: c2;
}


.image-1 {
    background-image: url(images/valorant-305kescxw5dpup7y.jpg);
  
    
}
.image-2 {
    background-image: url(images/RestApi.png);
  

    
}

.ul-card {
    list-style-type: none;
    padding: 50px 35px;
    text-align: center;
    font-size: 22px;
}
.text-card {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
    gap: 20px;
   
}



 
    
    
    @media (max-width: 860px) {

        body {
            grid-template-columns: 70px 1fr;
            grid-template-rows: 200px 1fr;
     
        }
    
         .main {
            grid-template-columns:1fr;
            grid-template-rows: repeat(2,1fr);
            grid-template-areas:
            "c1"
            "c2";
        }
       
    
        .sidebar{
            top: 0;
            position: fixed;
            height: 100%;
            width: 70px;
            left: 0;
            margin: auto;
        }
    
        .sidebar-image  {
           visibility: hidden;
    
        }
    
    
    
        /* .sidebar-image  {
            margin: 10px 10px;
            height: 50px;
            border: #000;
    
        } */
    
    
        .sidebar header,#btn,#cancel {
            display: none;
        }
    
    
        .sidebar span {
            position: absolute;
            margin-left: 28px;
            opacity: 0;
            visibility: hidden;
        }
    
    
        .sidebar a i{
            margin-left:-10px ;
    
        }
    
        .sidebar a:hover {
            width: 200px;
            background: inherit;
    
    
        }
    
        .sidebar a:hover span{
            opacity: 1;
            visibility: visible;
    
    
        }
    
        .card:hover {
            transform: none;
            box-shadow: none;     
        }
    
        .header-text {
            padding: 100px 30px;
        }
        
    
    
    }
    




@media  (max-width: 550px) {


    .header {
        grid-area: header;
        display: flex;
    }


    .wrapper .icon {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }

    .card-intro {
        margin: 15px 15px;

    }
       



    .card:hover {
        transform: none;
         
        
    }

    .header-text {
        padding: 80px 30px;
    }
    

}


@media  only screen and (max-width: 400px) {

    .card:hover {
        transform: none;
        box-shadow: none;     
    }

    .card-image {
        transition: none;       
    }

    .text-card h4{
        display: none;
      
    }
    .footer-text {
        margin-left: 25px;
        gap: 20px;
    }

}


