* {
    font-family:'Roboto',system-ui, sans-serif;
    margin: 0;
    padding: 0;

     

}

body {
    background-color:  #222324;
    /* background-color: #222324; */
    min-height: 100vh;
    display: grid;
    grid-template-columns:300px 1fr;
    grid-template-rows: 200px 1fr;
    grid-template-areas: 
    "side header"
    "side main";
    /* overflow-x: hidden; */

}


.header {
    background-color:  #222324;
    /* background-color: #222324; */
    grid-area: header;
    display: flex;
     
 
}
.header-text {
    color: #f6f7f9;
    font-style: italic;
    font-size: 30px;
    padding: 50px 35px;
}


.sidebar {
    background: #181a1b;
    grid-area: side;
    position: absolute;
    /* left: -240px; */
    width: 300px;
    height: 100%;
    transition: all .5s ease;
   
}

.sidebar-image {
    margin-top: 55px;
    margin-left: 70px;
    max-height: 150px;
    width: auto;
    border-radius: 50%;  

} 


.sidebar header {
    color: #f6f7f9;
    font-size: 28px;
    line-height: 70px;
    text-align: center;
    user-select: none;
 

}


.sidebar a {
    display: block;
    color: #f6f7f9;
    height: 65px;
    width: 100%;
    line-height: 65px;
    padding-left:30px;
    border-bottom: 1px solid rgba(255,255,255,.1);
    border-top: 1px solid black;
    border-left: 5px solid red solid transparent;
    box-sizing: border-box;  
    text-decoration-line: none;
    

}

.sidebar a:hover, a.active {
    border-left: 5px solid #f6f7f9;
}
.sidebar a i {
    font-size: 23px;
    margin-right: 16px;
}
.sidebar a span {
    letter-spacing: 1px;
    text-transform: uppercase;
}

 .gradient {
    width: 60rem;
    height: 35rem;
    border-radius: 25%;
    margin:300px 500px;
    background-image: radial-gradient(rgb(243, 243, 243)20%, rgba(163, 171, 189, 0.37)50%, #222324 75%);
    /* background-image: radial-gradient(rgb(4, 104, 255)20%, rgba(0, 47, 150, 0.479)50%, #222324 75%); */
    /* background-image: radial-gradient(rgba(145, 3, 145, 0.911)20%, rgba(255, 10, 222, 0.233)50%, #222324 75%); */

} 
 


.main {
    /* background-image: linear-gradient( #181a1b, #e4e4e4); */
    padding: 75px 35px;
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(2,300px)600px;
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: 
    "c1 c2 c3"
    "c4 c5 c3"
    "c6 c6 c7"; 
    gap: 20px;
 
}

.revealCard {
    position: relative ;
    transform: translateY(50px);
    opacity: 0;
    transition: all 1s ease; 
}

.revealCard.active {
    transform: translateY(0px);
    opacity: 1;
}



.card {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;  
    text-align: center;
    position: relative;
    color: white;
    background-color: #181a1b;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,.1);
    box-shadow: 0 0 1px  #000;
   
}

.card-intro {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin: 0 30px;
}

.click-titel a{
    text-decoration: none;
    color: #f6f7f9;   
}


.card-intro h1 {
    font-style: italic;
    font-size: 30px;
    color:  rgb(255, 255, 255);
    margin-bottom: 20px;
   
}

.card:nth-child(1) {grid-area: c1;}
.card:nth-child(2) {grid-area: c2;}
.card:nth-child(3) {grid-area: c3;}
.card:nth-child(4) {grid-area: c4;}
.card:nth-child(5) {grid-area: c5;}
.card:nth-child(6) {grid-area: c6;}
.card:nth-child(7) {grid-area: c7;}
    

.contact-icons {
   display: flex;
   

}

.wrapper {
  display: inline-flex;
  
}

.wrapper .icon {
    margin: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
   

}
.wrapper img{
   margin: 12px;
  
 }

 .wrapper .icon .info {
    position: absolute;
    font-size: 20px;
    opacity: 0;
 }

 .wrapper .icon:hover .info{
    opacity: 1;
    cursor: pointer;
    position: relative;
    transform: scale(1.03);
    transition: all 1s ease;
    
 }



.click-titel a{
    font-size: 16px;
    position: relative;
    transition: all 1s ease;
    text-decoration: none;
    
}


.click-titel a::after  {
    display: flex;
    content: '';
    height: 1px;
    width: 200%;
    background: #fff;
    position: absolute;
    bottom: -1px;
    opacity: 0;
    transition: all 1s;
    pointer-events: none;
}

.click-titel a:hover::after {
    opacity: 1;

}

@media (max-width: 860px) {

    body {
        grid-template-columns: 70px 1fr;
        grid-template-rows: 200px 1fr;
        grid-template-areas: 
        "side header"
        "side main";

    }

    .sidebar{
        position: fixed;
        height: auto;
        width: 70px;
        left: 0;
        margin: auto;
    }

    .sidebar-image  {
       visibility: hidden;
     
    }

    /* .sidebar-image  {
        margin: 10px 10px;
        height: 50px;
        border: #000;
     
    } */


    .sidebar header,#btn,#cancel {
        display: none;
    }
 

    .sidebar span {
        position: absolute;
        margin-left: 23px;
        opacity: 0;
        visibility: hidden;
    }

    .sidebar a i{
        margin-left:-10px ;

    }

    a:hover {
        width: 200px;
        background: inherit;

    }

    .sidebar a:hover span{
        opacity: 1;
        visibility: visible;

    }

    .revealCard {
        transform: none;
        opacity: 1;
        transition: none;
    }
    
    .revealCard.active {
        transform: none;
        opacity: 1;
        transition: none;
    }
}



@media  (max-width: 550px) {

    body {
        grid-template-columns: 70px 1fr;
        grid-template-rows: 150px 1fr;
        grid-template-areas: 
        "side header"
        "side main";

    }


    .header {
        grid-area: header;
        display: flex;
        background-color: #181a1b;
    }


    .wrapper .icon {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }

    .card-intro {
        margin: 15px 15px;

    }
       

 .header-text {
        font-size: 20px;
    }
       
    
  
 .main {
    background-image: linear-gradient(#181a1b , #e4e4e4);
        grid-template-columns:300px 1fr;
        grid-template-rows: 1fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
        grid-template-areas: 
        "c3"
        "c1"
        "c4"
        "c5"
        "c2"
        "c6"
        "c7"; 

    }    

}


@media  only screen and (max-width: 400px) {

    body {
        grid-template-columns: 70px 1fr;
        grid-template-rows:150px 1fr;
        grid-template-areas: 
        "side header"
        "side main";

    }

    .header {
        grid-area: header;
        display: flex;
        background-color: #181a1b;
    }

  
    .sidebar img{
        visibility: hidden;
 }

    .sidebar {
        position: fixed;
        height: 260px;
        top: 0;
    }

  
  .wrapper .icon .info {
    position: relative;
    font-size: 12px;
    opacity: 0;
 }

 .wrapper .icon:hover .info{
    opacity: 1;
    cursor: pointer;
    position: relative;
    transform: scale(1.05);
    transition: all 2s ease;
    
 }

 .main {
    padding: 55px 30px;
    background-image: linear-gradient(#181a1b , #e4e4e4); 
    box-shadow: none;
    grid-template-columns:250px 1fr;
    grid-template-rows: 1fr 0.45fr 0.45fr 0.45fr 0.45fr 0.45fr;
    grid-template-areas:
    "c3"
    "c1"
    "c4"
    "c5"
    "c2"
    "c7"; 

    }    

}